<div class="form-check form-switch position-fixed bottom-0 end-0" id="agregar" style="border-top-style: solid;border-top-width: 0px;margin-bottom: 59px;">
    <button type="button" class="btn btn-outline-dark me-3" (click)="agregarNota()">
        Agregar
    </button>   
</div>


<!--- BOTÓN AGREGAR MOBILE -->
<!---  <img class="position-fixed bottom-0 end-0" id="agregarB" src="https://cdn-icons-png.flaticon.com/512/992/992651.png" data-toggle="modal" data-target="#Agregar" style="border-top-style: solid;border-top-width: 0px;margin-bottom: 59px; margin-right:20px;"> -->
<div class="form-check form-switch position-fixed bottom-0 end-0" id="agregarMobile" style="border-top-style: solid;border-top-width: 0px;">
    <button class="btn btn-default " (click)="agregarNota()">
        <img src="https://cdn-icons-png.flaticon.com/512/992/992651.png" style="border-top-style: solid;border-top-width: 0px; margin-right:20px; width: 20px;">
    </button>
</div>