<!--IMPORTANTE= TEMA DE LOS % EN LA IMAGEN-->
<header class="mb-4 border-bottom border-secondary ">
    <div>
        <nav class="navbar navbar-expand-md bg-{{darkModeService.colorScheme}} front">
            <div class="container-fluid container">
                <a class="navbar-brand" href="https://ucu.edu.uy/es">
                    <img src="https://ucu.edu.uy/sites/all/themes/univer/images/logo_es.png" alt="Logo UCU" width="140" height="70">
                </a>
                <!-- Boton en modo Mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-link px-2 ">
                            <a class="btn text-decoration-none" href="https://youtu.be/dQw4w9WgXcQ">Link muy interesante</a>
                        </li>
                        <li class="nav-item nav-link px-2">
                            <a class="btn text-decoration-none" href="https://youtu.be/dQw4w9WgXcQ">Otro link muy interesante</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
