<!--IMPORTANTE= TEMA DE LOS % EN LA IMAGEN-->
<header class="mb-4 border-bottom border-secondary">
    <div>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid container">
                <a class="navbar-brand">
                    <img src="https://ucu.edu.uy/sites/all/themes/univer/images/logo_es.png" alt="Logo UCU" width="110" height="70">
                </a>
                <!-- Boton en modo Mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="todas" class="nav-link cambiarColorTodas">Todas</a>
                        </li>
                        <li class="nav-item">
                            <a id="verdes" class="nav-link cambiarColorVerde">Verdes</a>
                        </li>
                        <li class="nav-item">
                            <a id="amarillas" class="nav-link cambiarColorAmarrillo">Amarillas</a>
                        </li>
                        <li class="nav-item">
                            <a id="cielo" class="nav-link cambiarColorCielo">Cielo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>