<div class="modal-header">
    <h5 class="modal-title w-100 text-center">{{ titulo }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <!-- Color  -->
    <div class="form-check form-check-inline" *ngFor="let color of colores">
      <input class="form-check-input" type="radio" name="radio-{{color.nombre}}" id="radio-{{color.nombre}}" value="{{color.selector}}" [(ngModel)]="nota.clase">
      <label class="form-check-label" for="radio-{{color.nombre}}">{{color.nombre}}</label>
    </div>
    <!-- Título -->
    <input type="text" class="my-2 form-control" placeholder="Titulo de la nota." [(ngModel)]="nota.titulo">
    <!-- Ciudad -->
    <select class="form-select" placeholder="Ciudad" [(ngModel)]="nota.ciudad">
      <option *ngFor="let ciudad of ciudades" value="{{ciudad.lat}};{{ciudad.long}}">{{ciudad.nombre}}</option>
    </select>
    <!-- Fecha y hora -->
    <div class="input-group">
        <div class="input-group">
            <label class="input-group-text my-2" for="fechaTarjetaEditar">Fecha y hora</label>
            <input class="my-2 form-control" type="datetime-local" id="fechaTarjetaEditar" [(ngModel)]="nota.fechaFormateada">
        </div>
    </div>
    <!-- Cuerpo -->
    <textarea class="form-control textoModal mb-2" placeholder="Escriba su nota." [(ngModel)]="nota.cuerpo"></textarea>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="guardarNota()">{{ textoBoton }}</button>
</div>
