<div class="modal-header {{darkModeService.colorScheme}}">
    <h5 class="modal-title w-100 text-center">{{ title }}</h5>
    <button type="button" class="btn-close " (click)="dismiss()"></button>
</div>
<div class="modal-body {{darkModeService.colorScheme}}">
    <!-- Título -->
    <input type="text" class="my-2 form-control {{darkModeService.colorScheme}}" placeholder="Titulo de la nota." [(ngModel)]="note.titulo">
    <!-- Ciudad -->
    <select class="form-select {{darkModeService.colorScheme}}" placeholder="Ciudad" [(ngModel)]="note.ciudad">
      <option class="{{darkModeService.colorScheme}}" *ngFor="let city of cities" value="{{city.nombre}}">{{city.nombre}}</option>
    </select>
    <!-- Fecha y hora -->
    <div class="input-group">
        <div class="input-group">
            <label class="input-group-text my-2 {{darkModeService.colorScheme}}" for="fechaTarjetaEditar">Fecha y hora</label>
            <input class="my-2 form-control {{darkModeService.colorScheme}}" type="datetime-local" id="fechaTarjetaEditar" [(ngModel)]="note.fechaFormateada">
        </div>
    </div>
    <!-- Cuerpo -->
    <textarea class="form-control textoModal mb-2 {{darkModeService.colorScheme}}" placeholder="Escriba su nota." [(ngModel)]="note.cuerpo"></textarea>
</div>
<div class="modal-footer justify-content-center {{darkModeService.colorScheme}}">
    <button type="button" class="btn btn-{{colorScheme}}" (click)="saveNote()">{{ buttonText }}</button>
</div>
