<div class="col-sm-4 mb-3">
    <div id="{{note.id}}" class="card {{note.clase}}" data-bs-toggle="modal" data-bs-target="#modalEditar" onclick="obtenerId(this.id)">
        <div class="card-header">
          <h5 id="{{note.id}}TargetTitle" class="card-title w-100 text-center">{{note.titulo}}</h5>
        </div>
        <div class="card-body">
            <p id="{{note.id}}TargetText" class="card-text">{{note.cuerpo}}</p>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalBorrar">
                    <i class="text-light"><img src="basura.png" alt="borrar" width="20vw" height="20vh"></i>
                </button>
            </div>
        </div>
        <div class="card-footer container">
            <div class="row">
                <p class="col fw-light" id="{{note.id}}TargetCity">{{note.ciudad}} - {{note.temperatura}}</p>
                <p class="col-auto fw-light text-end" id="{{note.id}}TargetDate">{{note.fechaFormateada}}</p>
            </div>
        </div>
      </div>
</div>
